.git
.gitignore
node_modules
vendor
public/build
public/hot
storage/
bootstrap/cache/*.php
database/database.sqlite
.env
.env.*
!.env.example
*.md
tests
.phpunit.cache
.phpunit.result.cache
docker-compose.override.yml
