# Copy to .env for Docker Compose deployments
APP_NAME=Expenser
APP_ENV=production
APP_KEY="base64:TYtBR1iMzOX7PKTvvdAcD1Hky+fi2p/PybK7u4y7j8I="
APP_DEBUG=false
APP_URL=http://localhost:8183
APP_PORT=8183

LOG_LEVEL=error

MAIL_MAILER=log
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=hello@example.com
